<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3"></script>
    <h2>Sistema de Facturas</h2>
    <div id="app">

        <p> Titulo: <input v-model="tituloNuevo" 
            placeholder="ingrese titulo">
        </p>

        <p> Codigo Factura: <input v-model="codNuevo" 
            placeholder="ingrese codigo">
        </p>

        <p> Numero Cliente: <input v-model="numNuevo" 
            placeholder="ingrese numero">
        </p>

        <p>
            <button @click="guardar">Guardar</button>
        </p>
        <p>
            {{mensajeError}}
        </p>

        <p> Numero Item: <input v-model="item.nombreItem" 
            placeholder="ingrese item">
        </p>
        <p>
            <button @click="agregarItem">Agregar Item</button> <br><br>
            <button @click="cambiarColorTitulo">Cambiar Color</button> <br><br>
            <button @click="ordenarPorNombre">Ordenar por item por descripcion</button>
        </p>

        <p :style="myStyle" >{{titulo}}
        </p>
        <p>
            {{codFactura}} <br>
            {{numCliente}}
        </p>

        <li v-for="item in itemFacturas">
            {{item.nombreItem}}
        </li>
       
    </div>
    <script src="index.js"></script>
</body>
</html>